.head {
	color: white;
	font-size: 25pt;
	margin-top: -70px;
	z-index: 1000;
	font-weight: bolder;
	font-family: arial;
}

.top_head{
	font-size: 16pt;
	font-weight: bolder;
	text-align: center;
	margin-bottom:-10px;
	margin-top: 0px;
	background-color: green;
}

.day_head {
	font-size: 18pt;
	color: white;
}

.main_sub_head{
	color: white;
	background-color: green;
	padding-left: 15px;
}

.desc {
	font-size: 14pt;
	color: grey;
	margin-top: -50px;
	text-align: justify
}

.link {
	background-color: brown;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
}

.link:hover{
	background-color: white;
	padding: 10px 20px;
	text-decoration: none;
	color: brown;
}

.about{
	font-size: 14pt;
	text-align: justify;
	width: 90%;
}

.name{
	font-size: 16pt;
	margin-top: -15px;
	color: rgb(0, 200, 0);
}

.role{
	margin-top: -20px;
	margin-bottom: 50px;
	
}